<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File List</title>
</head>
<body>
    <h1>File List</h1>
    
    <!-- Кнопка "Add File" -->
    <a href="{% url 'add_file' %}">Add File</a>
    
    <ul>
        {% for file in files %} 
            <li>
                <a href="{% url 'file_detail' file.id %}">{{ file.name }}</a>
                <form method="post" action="{% url 'delete_file' file.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete File</button>
                </form>
            </li>
        {% endfor %}
    </ul>
  
    <h2>Upload File</h2> 
    <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file">
        <button type="submit">Upload File</button>
    </form> 
</body>
</html>
